<header>
  <app-navbar></app-navbar>
  <app-slider></app-slider>
</header>
<section class="conocenos-container" id="empresa">
  <div class="conocenos">
    <h1>La Empresa</h1>
    <h3>¿Quiénes Somos?</h3>
    <p>
      Somos una empresa de servicio en el ramo de Bienes Raíces, con más de 20
      años en el mercado, dedicada a superar sus expectativas y necesidades en
      lo relativo a administración de condominios, venta y alquiler de
      inmuebles, auditorías de condominios y avalúos a nivel nacional.
    </p>
    <p>
      Nuestro propósito es brindar un servicio integral y superior en calidad y
      profesionalismo a nuestros clientes, que nos haga merecedores de amplio
      reconocimiento como la Empresa de Bienes Raíces de Vanguardia de
      Venezuela.
    </p>
    <!-- <div class="container">
      <app-cards class="cards"></app-cards>
      <app-cards class="cards"></app-cards>
      <app-cards class="cards"></app-cards>
      <app-cards class="cards"></app-cards>
    </div> -->
  </div>
</section>

<section class="eligenos-container" id="servicios">
  <div class="eligenos">
    <h1 class="title">Servicios</h1>
    <p>
      It’s our job to get you the best price for you r home and make sure that
      you get the best possible deal on the property
    </p>
    <div class="item-container">
      <app-item-icon [item]="item" *ngFor="let item of items"></app-item-icon>
    </div>
  </div>
</section>

<section class="contacto-container" id="contacto">
  <div class="contacto-map">
    <div style="width: 100%">
      <iframe
        width="100%"
        height="600"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=10.273202170513022,%20-68.02131462698327+(Casa)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ><a href="https://www.gps.ie/car-satnav-gps/"
          >GPS car tracker</a
        ></iframe
      >
    </div>
  </div>
  <div class="contacto-info">
    <h3>Datos de Contacto</h3>
    <p>
      <span><i class="fa-solid fa-location-dot"></i></span> Av. Este 2,
      Cervecería a Puente República Edificio República, Planta Baja, Local # 1,
      La Candelaria. Caracas, Venezuela.
    </p>
    <p>
      <span><i class="fa-solid fa-phone"></i></span> (0212) 576‑64‑91, (0212)
      576‑41‑48
    </p>
    <p>
      <span><i class="fa-solid fa-mobile-screen"></i></span> (0412) 703‑28‑89
    </p>
    <p>
      <span><i class="fa-solid fa-envelope"></i></span>
      condominiossaezl@gmail.com
    </p>
    <p>
      <span><i class="fa-solid fa-envelope"></i></span>
      darwin_2974@hotmail.com
    </p>
  </div>
</section>

<footer class="footer">
  <div>
    © 2019 Condominios Saezl, c.a. www.condominiossaezl.com R.I.F.: J‑31119286‑7
    www.rascacielo.net
  </div>
</footer>
